:root {
    --fieldsetBorderColor: #dedede;
    --inputBgColor: #f8f5f5;
    --submitBgColor: #1a73e8;
}

form fieldset {
    border: solid 0.1rem var(--fieldsetBorderColor);
    border-radius: 0.5rem;
    background-color: #ffffff;
}

form fieldset legend {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    padding: 0 1rem;
}

form fieldset label {
    font-size: 1.5rem;
}

form fieldset input {
    display: block;
    width: 100%;
    line-height: 3.5rem;
    border: none;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

form fieldset input:not(:last-child) {
    border-bottom: solid 0.1rem var(--fieldsetBorderColor);
    background-color: var(--inputBgColor);
    margin-bottom: 1rem;
}

form fieldset input[type="submit"] {
    margin: 0 auto;
    background-color: var(--submitBgColor);
    color: #ffffff;
    margin-top: 0.5rem;
    width: 40%;
}