header {
    height: 100vh;
    background: url(../assets/home-hero.jpg) fixed no-repeat center;
    background-size: cover;
}

.arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background-color: var(--btnColor);
    border-radius: 50%;
    padding: 1rem;
    margin: 2rem;
    box-shadow: 0 0.8rem 1rem #222;
}

main {
    top: 30%;
    position: absolute;
    left: 10%;
    max-width: 30%;
}

main h1 {
    color: #ffffff;
    line-height: 6.5rem;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

main a {
    color: #ffffff;
    background-color: var(--btnColor);
    display: inline-block;
    padding: 2rem;
}

footer {
    height: 100vh;
}

footer section {
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 10rem;
}

footer section div {
    width: 45%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

footer section h2 {
    text-align: center;
    margin-bottom: 3.5rem;
    font-size: 3rem;
    font-weight: 300;
    color: #000000;
}

footer section p {
    text-align: center;
}

.rotation {
    transform: rotate(-180deg);
    transition-duration: 0.3s;
}

.resetRotation {
    transform: rotate(-360deg);
    transition-duration: 0.3s;
}
