:root {
    --navBtnColorSelected: #dd5347;
}

header {
    height: 100vh;
    background: url(../assets/home-hero.jpg) fixed no-repeat;
    background-size: cover;
}

header nav ul {
    position: fixed;
    top: 0;
    display: flex;
    background-color: #ffffff;
    height: 6rem;
    width: 100%;
    box-shadow: 0 0 0.3rem #222;
    z-index: 1;
    border-bottom: solid 0.1rem #A9A7A6;
}

header nav ul li a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 100%;
    padding: 0 3rem;
    color: #1A1A1A;
}

header nav ul li:first-child {
    margin-right: auto;
}

header nav ul li:first-child a {
    text-transform: capitalize;
    padding: 0;
    margin-left: 1.5rem;
    font-size: 2.5rem;
    color: #A9A7A6;
}

header nav ul li:first-child a::before {
    content: url(../assets/mail.png);
    margin-right: 0.5rem;
}

header section {
    top: 30%;
    position: absolute;
    left: 10%;
    max-width: 30%;
}

header section h1 {
    color: #fafafa;
    font-weight: 300;
    line-height: 5rem;
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

header section a {
    color: #ffffff;
    background-color: var(--navBtnColorSelected);
    display: inline-block;
    padding: 2rem;
}

header nav:last-child a {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background-color: var(--navBtnColorSelected);
    border-radius: 50%;
    padding: 1rem;
    margin: 2rem;
    box-shadow: 0 0.8rem 1rem #222;
}

.selected {
    background-color: var(--navBtnColorSelected);
    color: #ffffff;
}

footer {
    height: 100vh;
}

footer section {
    max-width: 70rem;
    margin: 0 auto;
    padding-top: 10rem;
}

footer section div {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

footer section h2 {
    text-align: center;
    margin-bottom: 3.5rem;
    font-size: 3rem;
    font-weight: 300;
    color: #000000;
}

footer section p {
    text-align: center;
}

footer form fieldset {
    border: solid 0.1rem #dedede;
    border-radius: 0.5rem;
    background-color: #ffffff;
}

footer section form fieldset legend {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    padding: 0 1rem;
}

footer section form fieldset label {
    font-size: 1.5rem;
}

footer section form fieldset input {
    display: block;
    width: 100%;
    line-height: 3.5rem;
    border: none;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

footer section form fieldset input:not(:last-child) {
    border-bottom: solid 0.1rem #d3d3d3;
    background-color: #f8f5f5;
    margin-bottom: 1rem;
}

footer section form fieldset input[type="submit"] {
    margin: 0 auto;
    background-color: #1a73e8;
    color: #ffffff;
    margin-top: 0.5rem;
    width: 40%;
}