:root {
    --toastBgColor: #eb0000;
}

.toast {
    color: #ffffff;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    background-color: var(--toastBgColor);
}

.toast img:first-child {
    margin-left: 0.5rem;
    stroke: #ffffff;
}

.toast img:last-child {
    margin-right: 0.5rem;
    stroke: #ffffff;
    cursor: pointer;
    border: solid .1rem transparent;
}

.toast img:last-child:hover {
    border: solid .1rem #ffffff;
}

.hide {
    display: none;
}